/*-------------------------- ↓ advanced search----------------------*/
.advs-wrapper {
    z-index: 80;
    position: absolute;
    top: 9rem;
    width: auto;
    /*max-height: 86%;*/
    padding: 0 0 1rem 0;
    white-space: nowrap;
    color: #666;
    background-color: hsla(0, 0%, 85%, 1);
    overflow: auto;
    -webkit-box-shadow: 0 0 10px #b4b4b4;
    -moz-box-shadow: 0 0 10px #b4b4b4;
    box-shadow: 0 0 10px #b4b4b4;
    border-radius: 4px;
    transition: all .6s;
}

.advs-wrapper.active {
    padding-left: 15px;
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
    opacity: 0.98;
    width: 95%;
}

.advs-wrapper h3 {
    zoom: 1;
    position: relative;
    margin-top: 2rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1rem;
}

.advs-wrapper .advs-controls {
    zoom: 1;
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: inline-block;
    vertical-align: top;
}

.advs-wrapper .advs-controls {
    zoom: 1;
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: inline-block;
    vertical-align: top;
}

.advs-form-container {
    position: relative;
    margin: 0 5rem;
    box-sizing: content-box;
}

/*#advs fieldset {
    margin-bottom: 1rem;
}*/

#advs fieldset legend {
    padding-bottom: .4rem;
}

#advs .row .col-sm-1 {
    text-align: center;
}

#advs fieldset.extra {
    padding: 0 17% 0 0;
    box-sizing: content-box;
}

#advs .extra .form-group {
    position: relative;
    margin-left: 8%;
    /*font-size: 2rem;*/
    padding: 1rem .5rem .3rem 1rem;
    border: 1px solid hsl(0, 0%, 95%);
    box-sizing: border-box;
}

#advs .extra .form-group .right-tip {
    margin-left: 2rem;
}

#advs .extra > div > label {
    position: absolute;
    top: -.8rem;
    /*margin-left: 2rem;*/
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    background-color: hsl(0, 0%, 85%);
}

#advs .row label.col-sm-2 {
    text-align: right;
}

#advs .row input {
    line-height: 1.8rem;
    border: 1px #aaa solid;
    border-radius: 4px;
}

#advs .form-controls {
    float: right;
    padding: .5rem 16% 0 0;
}

#advs .form-controls .submit-advs {
    display: inline-block;
    zoom: 1;
    padding: 0 10px;
    margin: 0;
    height: 2.6rem;
    line-height: 2.4rem font-weight : bold;
    border: 1px solid #1b5480;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background-color: #287bbc;
    background-image: -webkit-linear-gradient(top, #287bbc 0%, #23639a 100%);
    background-image: -moz-linear-gradient(top, #287bbc 0%, #23639a 100%);
    background-image: -o-linear-gradient(top, #287bbc 0%, #23639a 100%);
    background-image: linear-gradient(top, #287bbc 0%, #23639a 100%);
    white-space: nowrap;
}

/*.form-controls .text-button:hover {
    font-size: 1.5rem;
}*/

/*-------------------------- ↑ advanced search---------------------*/