@charset "UTF-8";
.sidebar {
    display: none;
    /*z-index: 99;*/
    position: fixed;
    top: 8rem;
    padding-right: 2rem;
    left: 0;
    max-height: 100%;
    float: left;
    overflow: auto;
    /*background: no-repeat top center -webkit-linear-gradient(hsla(223, 16%, 29%, 1), hsla(0, 30%, 21%, 1));*/
    /*background: no-repeat top center linear-gradient(hsla(223, 16%, 29%, 1), hsla(0, 30%, 21%, 1));*/
    box-sizing: border-box;
    border-radius: 4px;
}

.sidebar.map {
    background: hsla(201, 100%, 77%, .9);
}

.sidebar h4 a {
    color: hsla(206, 85%, 65%, 1);
}

.sidebar.map h4 a {
    color: #333 !important;
}

.sidebar a:hover {
    text-decoration: underline;
}

/*侧边栏显示。需要正文内容缩进，以免内容与边栏覆盖，margin-left的值与.sidebar-col.width一致*/
.for-sidebar-margin {
    margin-left: 21rem;
}

.for-sidebar-padding {
    padding-left: 21rem;
}

.sidebar .search-types {
    /*预留，为将来按端口搜索或者按漏洞搜索预留*/
    display: none;
}

#facet div {
    background-color: transparent;
    color: #ccc;
    border: none;
}

#facet > div {
    background: transparent;
    margin-top: 1rem;
    border-bottom: 1px solid hsla(0, 30%, 21%, .6);
}

#facet .panel-title a {
    display: block;
    width: 100%;
    padding-left: 1rem;
    margin-left: 2px;
    font-weight: bold;
    line-height: 2.2rem;
    letter-spacing: .5rem;
}

#facet .panel-heading {
    padding: 5px;
}

#facet .panel-body {
    padding-bottom: 0;
}

#facet ol.facet-values {
    padding-top: 5px;
    clear: left;
}

#facet ol li.facet-value {
    width: 16rem;
    padding-bottom: 3px;
}

#facet li input[type="checkbox"] {
    z-index: 60;
    position: relative;
    display: inline;
    width: 1em;
    height: 1em;
    margin-left: 5px;
    cursor: pointer;
    float: left;
}

.sidebar.map .label-container * {
    color: #000 !important;
}

#facet input[type="checkbox"] + .label-container label {
    margin-left: 5px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    position: relative;
    cursor: pointer;
    vertical-align: text-bottom;
    line-height: 1.5rem;
}

#facet input[type="checkbox"] + label:before, .facet input[type="checkbox"] + .label-container label:before {
    line-height: 2rem;
    color: #0077b5;
    font-weight: normal;
    border-radius: 2px;
    margin-left: -2rem;
    z-index: 50;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    border: 1px solid #c1c1c1;
    content: " ";
    width: 11px;
    height: 11px;
    position: absolute;
    text-align: center;
}

#facet li.facet-value .facet-count {
    font-weight: normal;
    float: right;
    unicode-bidi: bidi-override;
}

#facet li.facet-value .facet-label {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;

}

#facet li.facet-value .facet-label bdi {
    margin-right: 5px;
}

#facet ol.inner-facet-values {
    margin-left: 1rem;
}

#facet ol.inner-facet-values .facet-value {
    width: 15rem;
}

/* Style for pivots texts
 * --------------------------------------- */
.pivots-wrapper {
    display: none;
    /*z-index: 99;*/
    position: fixed;
    top: 8rem;
    left: 0;
    /*width: 100%;*/
    /*background: no-repeat top center -webkit-linear-gradient(hsla(223, 16%, 29%, 1), hsla(0, 30%, 21%, 1));*/
    /*background: no-repeat top center linear-gradient(hsla(223, 16%, 29%, 1), hsla(0, 30%, 21%, 1));*/
    box-sizing: border-box;
}

.pivots li {
    display: inline-block;
    margin: 2px;
    color: #000;
    background: lightgray;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 6px;
}

.pivots li.map {
    /*background-color: rgba(224, 224, 224, .8);*/
    background: hsla(201, 100%, 77%, .9);
    box-shadow: -1px 1px 1px 1px #b4b4b4;;
}

.pivots li.map.active,
.pivots li.active {
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.pivots li a {
    text-decoration: none;
    color: #000;
}

.pivots li.active a:hover {
    color: #000;
}

.pivots li:hover {
    background: rgba(255, 255, 255, 0.7);
}

.pivots li a,
.pivots li.active a {
    padding: 5px 10px;
    display: block;
}

.pivots li.active a {
    color: #fff;
}

/* Style for result-overview texts
 * --------------------------------------- */
.result-overview {
    display: none;
    /*z-index: 99;*/
    position: fixed;
    top: 11rem;
    left: 0;
    height: 1.6rem;
    line-height: 1.6rem;
    font-size: 1.5rem;
}

/* Style for inner Scroll bar. For the "inset" look only
 *------------------------------------------*/
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: hsla(0, 30%, 21%, .5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:window-inactive {
    /*background: rgba(255, 0, 0, 0.4);*/
    background: hsla(0, 30%, 21%, .5);
}

.dark .container {
    overflow: hidden; /* showing scrollbars */
}