@charset "UTF-8";
/* Style for section (sectionAnchor = se_home)
  * --------------------------------------- */
.section .home-search .home-search-form {
    display: inline-block;
    position: relative;
    height: 7rem;
    min-width: 30rem;
    width: 50%;
    line-height: 3rem;
    padding-bottom: 4rem;
    margin: 0 auto;
}

.section .home-search .input-group {
    min-width: 20rem;
    width: 90%;
    width: calc(100% - 6rem);
}

.section .home-search .advs-link-wrapper {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
}

#home_search_btn {
    z-index: 1001;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}