/* Style for text(list) search
 * --------------------------------------- */
.list-wrapper {
    margin: 9rem 0 0 0;
    padding: 0 0 2rem 0;
    overflow-y: auto;
    text-align: left;
    /*height: 100%;*/
}

.list-wrapper .row,
.list-wrapper .row-fluid {
    margin: 0;
    padding: 0;
}

.result-container {
    margin-bottom: 2rem;
}

.result-container h3 {
    text-align: left;
    padding: 1rem .5rem .5rem 1rem;
}

.result-container article h3 {
    padding-left: 0;
}

/*------li.device begins here------*/
.list-wrapper .device .tag {
    display: block;
    padding: 3px 0;
    margin: 0 1px;
}

.list-wrapper .device .tag span.label-default,
.list-wrapper .device .tag span.label-primary,
.list-wrapper .device .tag span.label-danger {
    display: inline-block;
    float: none;
    clear: both;
    margin: 0 2px;
}

.list-wrapper .device .tag a {
    color: #eee;
    font-size: inherit;
    font-weight: normal;
}

.list-wrapper .device .left {
    text-align: left;
}

.list-wrapper .device .right {
    position: relative;
    height: 10rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 5px;
    -webkit-transition: height .5s;
    transition: height .5s;
    margin: 0 0 .5rem 2rem;
    text-align: left;
}

.list-wrapper .right h3 {
    font-size: inherit;
    margin: 0 auto;
}

.list-wrapper .device .right.active {
    height: auto;
    overflow: visible;
    background: hsla(0, 30%, 21%, .1);
    border: 1px solid hsla(0, 30%, 21%, .1);
}

.list-wrapper .device .right button {
    position: absolute;
    bottom: 0;
    right: 2rem;
    /*right: 0;*/
    display: block;
    background: hsla(0, 30%, 21%, .3);
    width: 95%;
    text-align: right;
    border: none !important;
    color: #666;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    z-index: 1000;
    box-sizing: content-box;
}

.list-wrapper .device .right button span {
    margin: 0 auto;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -ms-transition: -ms-transform 0.2s ease-out;
}

.list-wrapper .device .right.active button {
    top: auto;
    /*bottom: 0;*/
    right: 0;
    border: none !important;
    text-align: center;
}

.list-wrapper .device .right.active button span {
    -webkit-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.list-wrapper .right article pre {
    color: #eee;
    border: none;
    background: hsla(0, 30%, 21%, .1);
    cursor: pointer;
}

.list-wrapper .right.active article pre {
    cursor: auto;
}

.list-wrapper .no-data {
    display: none;
    margin: 3rem auto;
    font-size: 2rem;
}

#pager {
    display: inline-block;
    margin: 0 auto;
}