@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

h1 {
    color: #0075c2;
    text-align: center;
}

.p60 {
    padding: 60px;
}

.mb50 {
    margin-bottom: 50px;
}

.ptb40 {
    padding: 40px auto;
}

.black-bg {
    background-color: #333;
}

/*----------------------fullpage↓--------------------------*/
#page1 {
    background: url("../img/showcase/wallpaper2_small.jpg") fixed;
    background-size: cover;
}

#fp-nav.white ul li a span, .fp-slidesNav.white ul li a span {
    background: #fff;
}

#fp-nav ul li .fp-tooltip {
    background: rgba(0, 0, 0, .6);
    padding: 5px;
    border-radius: 5px;
}

/*----------------------system↓--------------------------*/
#page1 {
    position: relative;
    overflow: hidden;
}

.banner {
    width: 100%;
    height: 400px;
}

.sys-banner {
    /*position: relative;*/
    height: 70%;
    margin-bottom: 80px;
    padding-top: 40px;
    background: #333333;
}

.sys-banner h2 {
    font-size: 32px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}

.am-container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.am-container .img-wrapper {
    position: fixed;
    background: url("../img/showcase/pc_bg.png") no-repeat center;
    width: 100%;
    height: 750px;
    bottom: 8.5%;
    text-align: center;
    -webkit-transform: scaleZ(3) rotateX(30deg);
    -ms-transform: scaleZ(3) rotateX(30deg);
    transform: scaleZ(3) rotateX(20deg);
}

.img-wrapper img {
    margin-top: 20px;
    border-radius: 5px;
    -webkit-transform: perspective(2000px) rotateY(20deg);
    transform: perspective(2000px) rotateY(20deg);
}

.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, .15);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
    left: 10%
}

.bg-bubbles li:nth-child(2) {
    left: 12%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
    border-radius: 40px;
}

.bg-bubbles li:nth-child(3) {
    left: 20%;
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
    border-radius: 20px;
}

.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    background-color: rgba(255, 255, 255, .25);
    border-radius: 30px;
}

.bg-bubbles li:nth-child(5) {
    left: 70%
}

.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 60px;
}

.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 100px;
    height: 100px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    border-radius: 10px;
}

.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
}

.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s
}

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg)
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg)
    }
}

/*----------------------scan on map(not in use)-----------------------*/
.map-bg {
    z-index: 21;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#earth {
    z-index: 22;
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    background: transparent;
    /*    -webkit-transform: rotateX(45deg);
        -moz-transform: rotateX(45deg);
        -ms-transform: rotateX(45deg);
        -o-transform: rotateX(45deg);
        transform: rotateX(45deg);
        border-radius: 50% 50% 0 0;*/
}

.radar {
    width: 100%;
    height: 100%;
    position: relative;
}

.circle {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    /*    background: -moz-repeating-radial-gradient(#00A638 3%, #000 5%, #000 25%);
        background: -webkit-repeating-radial-gradient(#00A638 3%, #000 5%, #000 25%);
        background: repeating-radial-gradient(#00A638 3%, #000 5%, #000 25%);*/
}

.scan {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
    background: -webkit-linear-gradient(90deg, rgba(115, 255, 162, 0.0), rgba(0, 166, 56, 0.75));
    background: linear-gradient(0deg, rgba(115, 255, 162, 0.0), rgba(0, 166, 56, 0.75));
    border-radius: 100% 0 0 0;
    -webkit-animation: scan 4s linear infinite;
    animation: scan 4s linear infinite;
    border-right: 3px solid rgba(0, 255, 86, 0.5);
    z-index: 999;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-shadow: 0 0 5px 3px #00FF56;
    opacity: 0;
    filter: alpha(opacity=0);
    background: #C3FFD3;
}

.dot1 {
    top: 10%;
    left: 70%;
    animation: flash 4s linear infinite 3.5s;
    -webkit-animation: flash 4s linear infinite 3.5s;
}

.dot2 {
    top: 70%;
    left: 70%;
    animation: flash 4s linear infinite 1s;
    -webkit-animation: flash 4s linear infinite 1s;
}

.dot3 {
    top: 70%;
    left: 30%;
    animation: flash 4s linear infinite 1.5s;
    -webkit-animation: flash 4s linear infinite 1.5s;
}

.dot4 {
    top: 50%;
    left: 40%;
    animation: flash 4s linear infinite 0.5s;
    -webkit-animation: flash 4s linear infinite 0.5s;
}

.icon {
    position: absolute;
    /*    top: 50%;
        left: 0;
        right: 0;*/
    left: 50%;
    margin: auto;
    margin-left: -15px;
    bottom: 0;
    width: 30px;
    height: 30px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    animation: jump 1s linear infinite;
    -webkit-animation: jump 1s linear infinite;
}

.hotspot {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #00FF56 transparent transparent transparent;
    border-width: 30px 15px 15px 15px;
}

.hotspot:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 25px;
    top: -15px;
    left: 0;
    background: #00FF56;
    border-radius: 50%
}

.hotspot:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: -10px;
    left: 7px;
    background: #000;
    border-radius: 50%
}

@-webkit-keyframes scan {
    0% {
        -webkit-transform: rotateZ(-90deg);
        transform: rotateZ(-90deg);
    }
    100% {
        -webkit-transform: rotateZ(180deg);
        transform: rotateZ(180deg);
    }
}

@keyframes scan {
    0% {
        -webkit-transform: rotateZ(-90deg);
        transform: rotateZ(-90deg);
    }
    100% {
        -webkit-transform: rotateZ(180deg);
        transform: rotateZ(180deg);
    }
}

@keyframes flash {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    10% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes flash {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    10% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@keyframes jump {
    0% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    50% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes jump {
    0% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    50% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.point {
    display: none;
    z-index: 20;
    position: absolute;
    top: 0;
    width: 880px;
    height: 880px;
    margin-left: -440px;
    left: 50%;
    background: url(../img/showcase/rada_440.png) no-repeat;
    _border: #000 solid 1px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.addAnimation .point {
    -webkit-animation: pointAnimations 5s linear infinite;
    animation: pointAnimations 5s linear infinite
}

@-webkit-keyframes pointAnimations {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes pointAnimations {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

/* -------------------charts----------------------*/
#page3_2 h1 {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 1rem;
    float: left;
}

#page3_3 h1 {
    padding-top: .5rem;
    margin: 0;
}

#scrollcombidy2d, #map, #pie3Ds, #page4 .inner.transparent,#page5 .section-inner {
    opacity: 0;
    filter: alpha(opacity=0);
}

#scrollcombidy2d, #map {
    height: 100%;
}

#scrollcombidy2d .fusioncharts-yaxis-1-gridlabels text.fusioncharts-label {
    display: none;
}

.appear {
    -webkit-animation: scrollInit 0s ease-in forwards;
    animation: scrollInit 0s ease-in forwards;
}

.appear-animated {
    -webkit-animation: scrollAppear 1.2s ease forwards;
    animation: scrollAppear 1.2s ease forwards;
}

@-webkit-keyframes scrollAppear {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(.4);
        -ms-transform: scale(.4);
        transform: scale(.4)
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes scrollAppear {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(.4);
        -ms-transform: scale(.4);
        transform: scale(.4)
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes scrollInit {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(.4);
        -ms-transform: scale(.4);
        transform: scale(.4)
    }
    100% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0)
    }
}

@keyframes scrollInit {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(.4);
        -ms-transform: scale(.4);
        transform: scale(.4)
    }
    100% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(.4);
        -ms-transform: scale(.4);
        transform: scale(.4)
    }
}

/*----------------------videos/images↓--------------------------*/
#page4 {
    /*background: url("../img/showcase/monitor_wall3_6.png");*/
    /*background-size: cover;*/
}

#page4 .inner {
    position: relative;
    height: 100%;
}

.img-nav {
    height: 2rem;
    width: 100%;
    padding: 5rem 0 .4rem 0;
    font-size: 1.2rem;
    text-align: center;
}

.img-nav li {
    display: inline-block;
    padding: 5px 0;
    color: #aaaaaa;;
    border-left: 1px solid #666;
    cursor: pointer;
    background: mediumblue;
}

.img-nav li:first-child {
    border-left: none;
}

.img-nav li:hover {
    -webkit-transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    text-shadow: 0px 1px 1px rgba(51, 50, 47, 0.8), 0 0 1em #3f5598;
    color: #3f5598;
}

.img-nav li.current,
.img-nav li.active {
    top: 5px;
    border-bottom: 1px solid #33322f;
    border-left: 1px solid #000000;
    margin-right: 2px;
    box-shadow: -2px 4px 7px 1px rgba(51, 50, 47, 0.7), 5px -5px 20px 10px rgba(51, 50, 47, 0.5) inset, -1px 2px 1px rgba(0, 0, 0, .7);
    z-index: -1;
    /*color: mediumblue;*/
    color: white;
}

.img-container {
    z-index: 40;
    height: 90%;
    height: calc(100% - 8rem);
    text-align: center;
    /*background-color: rgba(0, 0, 0, .3) *//*background: rgba(224, 255, 255, .5);*/
    /*background: -webkit-linear-gradient(rgba(224, 255, 255, 1), rgba(224, 255, 255, 0)); *//* Safari 5.1 - 6.0 */
    /*background: -o-linear-gradient(rgba(224, 255, 255, 1), rgba(224, 255, 255, 0)); *//* Opera 11.1 - 12.0 */
    /*background: -moz-linear-gradient(rgba(224, 255, 255, 1), rgba(224, 255, 255, 0)); *//* Firefox 3.6 - 15 */
    /*background: linear-gradient(rgba(224, 255, 255, 1), rgba(224, 255, 255, .0));*/
}

.img-container img {
    display: inline-block;
    width: 26%;
    height: 41%;
    cursor: pointer;
    /*padding: 10px;*/
    opacity: .7;
    filter: alpha(opacity=70);
    box-sizing: border-box;
    overflow: hidden;
    border: none;
}

.img-container img.border {
    padding: 5px;
    background: #000;
}

.img-container img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.real-time-img-wrapper {
    z-index: 41;
    display: none;
    position: absolute;
    padding: .5rem .5rem 6rem .5rem;
    background-color: #aaa;
    height: 16%;
    width: 16%;
    border: 2px solid #00f;
    border-radius: 5px;
    overflow: hidden;
}

.real-time-img-wrapper img {
    z-index: 42;
    width: 100%;
    max-height: 100%;
    border-radius: 3px;
}

.real-time-img-wrapper .real-img-footer {
    display: block;
    z-index: 43;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 5rem;
    padding: .5rem;
}

.playContainer {
    width: 7rem;
    height: 100%;
    display: inline-block;
    text-align: center;
    border: none;
    /*background: rgba(0, 0, 0, 0.8);*/
}

.playContainer li {
    position: relative;
    display: inline-block;
    border: 25px solid #404040;
    color: #404040;
    height: 0;
    width: 0;
    border-radius: 100%;
    opacity: .5;
    filter: alpha(opacity=50);
    margin: 1rem 10px;
}

.playContainer a {
    border-style: solid;
    text-indent: -9999px;
    position: absolute;
    top: -8px;
    left: -3px;
}

.playContainer .playBtn a {
    display: inline-block;
    border-color: transparent transparent transparent #fff;
    border-width: 8px 0 8px 12px;
    width: 0;
    height: 0;
}

.playContainer.playing .playBtn {
    display: none;
}

.playContainer .pauseBtn {
    display: none;
}

.playContainer .pauseBtn a {
    border-color: transparent white;
    border-width: 0 6px;
    height: 15px;
    width: 6px;
    left: -9px;
}

.playContainer.playing .pauseBtn {
    display: inline-block;
}

.real-img-footer .ip-wrapper {
    display: inline-block;
    width: 8rem;
    overflow: hidden;
    padding: 1.5rem 0;
    margin: 0 1rem;
}

.real-img-footer .attack-text {
    display: inline-block;
    height: 100%;
    width: 60%;
    width: calc(100% - 20rem);
}

.real-img-footer textarea {
    height: 100%;
    width: 100%;
    text-indent: .5rem;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    resize: none;
}

/*关闭电视效果↓*/
.close-win {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}

@-webkit-keyframes close {
    0% {
        height: 1px;
        box-shadow: 0 0 15px 3px rgba(255, 255, 255, .7);
    }
    100% {
        height: 0;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        background: #000;
    }
}

/*关闭效果*/

.line {
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 15px 3px rgba(255, 255, 255, .7);
    -webkit-animation: close .7s ease-out;
}

/*-----------------------↓获奖-----------------------*/
#page5 {
    /*background: url("../img/showcase/wallpaper4_small.jpg") no-repeat;*/
    /*background-size: cover;*/
}

#page5 .section-inner {
    width: 100%;
    position: relative;
    text-align: center;
}

.clr {
    clear: both;
}

#page5 .section-inner > header {
    padding: 20px 30px 10px 30px;
    margin-bottom: 40px;
    position: relative;
    display: block;
    text-align: center;
}

#page5 .section-inner > header h1 {
    font-family: Arial, sans-serif;
    font-size: 35px;
    position: relative;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(101, 141, 114, 0.9);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    padding: 0px 0px 5px 0px;
}

#page5 .section-inner > header h1 span {
    color: #a0caad;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}

/* Media Queries */
@media screen and (max-width: 767px) {
    #page5 .section-inner > header {
        text-align: center;
    }
}

.dg-container {
    /*visibility: hidden;*/
    width: 100%;
    height: 500px;
    position: relative;
}

.dg-container.appear{
    visibility: visible;
}

.dg-wrapper {
    width: 360px;
    height: 530px;
    margin: 0 auto;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
}

.dg-wrapper a {
    width: 360px;
    height: 525px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.dg-wrapper a.dg-transition {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.dg-wrapper a img {
    width: 100%;
    display: block;
    padding: 1px 0px;
}

.dg-wrapper a div {
    /*font-style: italic;*/
    text-align: center;
    line-height: 50px;
    /*text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);*/
    color: #eee;
    font-size: 16px;
    width: 100%;
    bottom: -55px;
    display: none;
    position: absolute;
}

.dg-wrapper a.dg-center div {
    display: block;
}

/*-----------------------↓波浪动画-----------------------*/
.wavewarp {
    width: 100%;
    height: 99px;
    overflow: hidden;
    position: relative;
    /*left: 50%;*/
    /*margin-left: -965px*/
}

.commenwave {
    width: 100%;
    height: 99px;
    /*position: static;*/
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0
}

.wavewarp canvas {
    margin-top: -50px
}

.wave {
    line-height: 0;
    font-size: 0;
    float: left;
    width: 100%;
    height: 102px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}

.wave img {
    position: absolute;
    pointer-events: none
}

/*--------------------------------↓闪烁动画-------------------------*/
.flicker {
    -webkit-animation: twinkling 1s infinite ease-in-out
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes twinkling {
    0% {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@keyframes twinkling {
    0% {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

/*-----------------------↓放大并居中动画，停在最后的状态----------------------*/
.scaleAndCenter {
    /* Firefox */
    -webkit-animation: move 2s; /* Safari and Chrome */
    /* Opera */
    animation: move 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes move
    /* Safari and Chrome */
{
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(3);
        transform: scale(3);
        top: 400px;
        left: 24.5%;
    }
}

@keyframes move {
    from {
        /*transform: scale(1);*/
        /*        height: 16%;
                width: 16%;*/
    }
    to {
        /*transform: scale(3);*/
        top: 22%;
        left: 25%;
        height: 55%;
        width: 50%;
    }
}

/*------------------------旋转动画----------------------------*/
.rotate {
    /* Firefox */
    -webkit-animation: rotate 3s; /*Safari and Chrome */
    /* Opera */
    animation: rotate 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: perspective(2000px) rotateY(20deg);
        transform: perspective(2000px) rotateY(20deg);
    }
    25% {
        -webkit-transform: perspective(2000px) rotateY(-20deg);
        transform: perspective(2000px) rotateY(-20deg);
    }
    50% {
        -webkit-transform: perspective(2000px) rotateY(10deg);
        transform: perspective(2000px) rotateY(10deg);
    }
    75% {
        -webkit-transform: perspective(2000px) rotateY(-10deg);
        transform: perspective(2000px) rotateY(-10deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(0deg);
        transform: perspective(2000px) rotateY(0deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: perspective(2000px) rotateY(20deg);
        transform: perspective(2000px) rotateY(20deg);
    }
    25% {
        -webkit-transform: perspective(2000px) rotateY(-20deg);
        transform: perspective(2000px) rotateY(-20deg);
    }
    50% {
        -webkit-transform: perspective(2000px) rotateY(10deg);
        transform: perspective(2000px) rotateY(10deg);
    }
    75% {
        -webkit-transform: perspective(2000px) rotateY(-10deg);
        transform: perspective(2000px) rotateY(-10deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(0deg);
        transform: perspective(2000px) rotateY(0deg);
    }
}

/*放大↓动画*/
.scale {
    -webkit-animation: scale 2s; /* Safari and Chrome */
    animation: scale 2s; /* Opera */
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(.4);
        transform: scale(.4);
    }
    50% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scale(.4);
        transform: scale(.4);
    }
    50% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
