@charset "UTF-8";
/* Style for sidebar
 * --------------------------------------- */
.sidebar, .sidebar-right {
    display: none;
    z-index: 99;
    position: fixed;
    top: 9rem;
    padding-right: 1rem;
    max-height: 100%;
    float: left;
    overflow: auto;
    box-sizing: border-box;
    border-radius: 4px;
}

.sidebar {
    left: 0;
}

.sidebar-right {
    right: 0;
}

.sidebar.map {
    background: hsla(201, 100%, 77%, .9);
}

.sidebar h4 a {
    color: hsla(206, 85%, 65%, 1);
}

.sidebar.map h4 a {
    color: #333 !important;
}

.sidebar a:hover {
    text-decoration: underline;
}

/*侧边栏显示。需要正文内容缩进，以免内容与边栏覆盖，margin-left的值与.sidebar-col.width一致*/
.for-sidebar-margin {
    margin-left: 21rem;
}

.for-sidebar-padding {
    padding-left: 21rem;
}

.sidebar .search-types {
    /*预留，为将来按端口搜索或者按漏洞搜索预留*/
    display: none;
}

#facet div {
    background-color: transparent;
    color: #ccc;
    border: none;
}

#facet > div {
    background: transparent;
    margin-top: 1rem;
    border-bottom: 1px solid hsla(0, 30%, 21%, .6);
}

#facet .panel-title a {
    display: block;
    width: 100%;
    padding-left: 1rem;
    margin-left: 2px;
    font-weight: bold;
    line-height: 2.2rem;
    letter-spacing: .5rem;
}

#facet .panel-title small {
    letter-spacing: normal;
    color: inherit;
}

#facet .panel-heading {
    padding: 5px;
}

#facet .panel-body {
    padding-bottom: 0;
}

#facet ol.facet-values {
    padding-top: 5px;
    clear: left;
}

#facet ol li.facet-value {
    /*width: 16rem;*/
    width: 100%;
    padding-bottom: 3px;
}

#facet li input[type="checkbox"] {
    z-index: 60;
    position: relative;
    display: inline;
    width: 1em;
    height: 1em;
    margin-left: 5px;
    cursor: pointer;
    float: left;
}

.sidebar.map .label-container * {
    color: #000 !important;
}

#facet input[type="checkbox"] + .label-container label {
    margin-left: 5px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    position: relative;
    cursor: pointer;
    vertical-align: text-bottom;
    line-height: 1.5rem;
}

#facet input[type="checkbox"] + label:before, .facet input[type="checkbox"] + .label-container label:before {
    line-height: 2rem;
    color: #0077b5;
    font-weight: normal;
    border-radius: 2px;
    margin-left: -2rem;
    z-index: 50;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    border: 1px solid #c1c1c1;
    content: " ";
    width: 11px;
    height: 11px;
    position: absolute;
    text-align: center;
}

#facet li.facet-value .facet-count {
    font-weight: normal;
    float: right;
    unicode-bidi: bidi-override;
}

#facet li.facet-value .facet-label {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;

}

#facet li.facet-value .facet-label bdi {
    margin-right: 5px;
}

#facet ol.inner-facet-values {
    margin-left: 1rem;
}

#facet ol.inner-facet-values .facet-value {
    /*width: 15rem;*/
    width: 100%;
}

/* Style for inner Scroll bar. For the "inset" look only
 *------------------------------------------*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: hsla(0, 30%, 21%, .5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:window-inactive {
    /*background: rgba(255, 0, 0, 0.4);*/
    background: hsla(0, 30%, 21%, .5);
}

.dark .container {
    overflow: hidden; /* showing scrollbars */
}

/*newly added*/
/* Style for sidebar-right
 * --------------------------------------- */
.sidebar-right {
    display: none;
    margin-top: 3rem;
    right: 4.2rem;
    overflow: hidden;
    font-size: 1.4rem;
}

.sidebar-right.map {
    background-color: hsla(201, 100%, 77%, .95);
}

.sidebar-right section {
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.sidebar-right section:last-child {
    border-bottom: none;
}

.sidebar-right h4 {
    font-size: 1.6rem;
    padding: 2px;
}

#search_tips ul {
    margin: .5rem auto;
    padding-left: 0;
    list-style: none;
}

#search_tips ul li {
    /*position: relative;*/
    margin: .2rem;
    padding-bottom: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #000;
    background: lightgray;
    background: rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

#search_tips ul li span {
    display: inline-block;
    max-width: 12rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#search_tips ul li:hover,
#search_tips ul li.active,
#search_tips li.search-widget ul li:focus {
    background: rgba(255, 255, 255, 0.6);
    /*color: #fff;*/
}

#search_tips ul li button {
    visibility: hidden;
    padding: 0 .3rem;
    margin-left: .5rem;
    background: transparent;
    border: none;
    border-radius: .8rem;
    /*float: right;*/
}

#search_tips ul li.hover button,
#search_tips ul li.active button {
    visibility: visible;
}

#search_tips ul li button:hover {
    background: #f27f02;
    color: #000 !important;
    text-decoration: none;
}

#search_tips ul li a.btn {
    padding: 2px 3px;
}

#widget-sys-rec ul li {
    width: 99%;
}

#search_history li .popover {
    left: 1.5rem !important;
    word-wrap: break-word !important;
    max-width: 15rem;
}
