@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: "microsoft yahei", Verdana, Tahoma, Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
}

p {
    margin: 0 0 3px;
}

.container-fluid, .row-fluid, .row, .col-sm-1, .col-xs-10, .col-sm-11, .col-sx-2, .col-xs-2, .col-xs-10 {
    padding: 0;
    margin: 0;
}

.container-fluid {
    height: 100%;
}

#main {
    position: relative;
    height: 82%;
}

#sidebar {
    z-index: 201;
    height: 100%;
    background: #fff;
    border-left: solid 2px #e1e1e1;
}

#sidebar .nav-right li {
    padding-right: 3rem;
    text-align: center;
}

#sidebar .nav-right li:hover,
#sidebar .nav-right li.active {
    background-color: #e1e1e1;
}

#sidebar .nav-right li:not(:last-child) {
    border-bottom: 2px solid #e1e1e1;
}

#sidebar .nav-right a {
    text-decoration: none;
    text-align: justify;
    height: 100%;
}

#sidebar .nav-right a:before {
    content: "";
    display: inline-block;
    height: 5.7%;
    height: calc(6% - 3px);
    vertical-align: middle;
}

#sidebar .nav-right li:focus a,
#sidebar .nav-right li:hover a {
    font-weight: bold;
}

#mapHolder {
    height: 100%;
    padding: .5rem;
    background-color: lightgray;
}

#selectBox {
    height: 100%;
}

#selectBox input[type="text"] {
    background: #F1F1F1;
    border: 0;
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 10px;
    padding: 10px 0 10px 10px;
    width: 99%;
    height: 38px;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

#selectBox ul {
    font-size: 15px;
    line-height: 24px !important;
    margin-bottom: 2.5rem;
    padding: .5rem;
}

#selectBox ul a {
    color: #999;
    text-decoration: none;
}

#selectBox ul a:hover,
#selectBox ul a.active {
    color: #f27f02;
}

#gallery {
    width: 100%;
    padding: 5px 30px;
    background: #e1eef5;
}

.ad-gallery {
    width: 100%;
}

.ad-gallery .ad-image-wrapper {
    width: 30%;
    height: 20rem;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.ad-gallery .ad-image-live {
    float: left;
}

.ad-gallery .ad-image-wrapper .ad-loader {
    position: absolute;
    z-index: 10;
    top: 48%;
    left: 48%;
    border: 1px solid #CCC;
}

.ad-gallery .ad-image-wrapper .ad-next {
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    height: 100%;
    cursor: pointer;
    display: block;
}

.ad-gallery .ad-image-wrapper .ad-prev {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    cursor: pointer;
    display: block;
    z-index: 100;
}

.ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
    background: url(../img/ad_prev.png);
    width: 30px;
    height: 30px;
    display: none;
    position: absolute;
    top: 47%;
    left: 0;
    z-index: 101;
}

.ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
    background: url(../img/ad_next.png);
    width: 30px;
    height: 30px;
    right: 0;
    left: auto;
}

.ad-gallery .ad-image-wrapper .ad-image {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 109;
}

.ad-gallery .ad-image-wrapper .ad-image a img {
    border: 0;
}

.ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 7px;
    text-align: left;
    width: 100%;
    z-index: 2;
    background: url(../img/opa75.png);
    color: #000;
}

* html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='opa75.png', sizingMethod=scale);
}

.ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {
    display: block;
}

.ad-gallery .ad-controls {
    height: 16px;
}

.ad-gallery .my-ad-controls {
    height: 16px;
}

.ad-gallery .ad-info {
    float: left;
    margin: 0;
}

.ad-gallery .ad-slideshow-controls {
    float: right;
}

.ad-gallery .ad-slideshow-controls .ad-slideshow-start,
.ad-gallery .ad-slideshow-controls .ad-slideshow-stop {
    padding-left: 5px;
    cursor: pointer;
}

.ad-gallery .ad-slideshow-controls .ad-slideshow-countdown {
    padding-left: 5px;
    font-size: 0.9em;
}

.ad-gallery .ad-slideshow-running .ad-slideshow-start {
    cursor: default;
    font-style: italic;
}

.ad-gallery .ad-nav {
    width: 100%;
    position: relative;
}

.ad-gallery .ad-forward, .ad-gallery .ad-back {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 10;
}

/* IE 6 doesn't like height: 100% */
/** html .ad-gallery .ad-forward, .ad-gallery .ad-back {
    height: 10rem;
}*/

.ad-gallery .ad-back {
    cursor: pointer;
    left: -20px;
    width: 13px;
    display: block;
    background: url(../img/ad_scroll_back.png) 0px 50px no-repeat;
}

.ad-gallery .ad-forward {
    cursor: pointer;
    display: block;
    right: -20px;
    width: 13px;
    background: url(../img/ad_scroll_forward.png) 0px 50px no-repeat;
}

.ad-gallery .ad-nav .ad-thumbs {
    overflow: hidden;
    width: 100%;
    height: 120px;
}

.ad-gallery .ad-thumbs .ad-thumb-list {
    float: left;
    width: 9000px;
    list-style: none;
}

.ad-gallery .ad-thumbs li {
    float: left;
    padding-right: 5px;
}

.ad-gallery .ad-thumbs li a {
    display: block;
}

.ad-gallery .ad-thumbs li a img {
    height: 120px;
    border: 3px solid #CCC;
    display: block;
}

.ad-gallery .ad-thumbs li a.ad-active img {
    border: 3px solid #616161;
}

/* Can't do display none, since Opera won't load the images then */
.ad-preloads {
    position: absolute;
    left: -9000px;
    top: -9000px;
}

.active-image-wrapper {
    display: none;
    z-index: 100;
    position: absolute;
    /*bottom: 146px;*/
    bottom: 130px;
    left: 0;
    width: 100%;
    height: 36rem;
    padding: .5rem;
    background: #e1eef5;
}

.active-image-wrapper .left,
.active-image-wrapper .right {
    /*width: 30%;*/
    height: 100%;
    /*float: left;*/
    padding: 0;
    text-align: center;
    overflow: hidden;
    /*↓折角效果*/
    background: #000;
    /*background: linear-gradient(40deg, transparent 1.5rem, #000 0);*/
    border-bottom-right-radius: 4px;
}

.active-image-wrapper .right {
    background: linear-gradient(-20deg, transparent 1.5rem, #000 0);
    border-left: 5px solid #e1eef5;
}

.active-image-wrapper .left > p,
.active-image-wrapper .right > p {
    height: 2rem;
    color: #ddd;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 1rem 0 1rem;
    text-align: left;
    background: #000;
    background: linear-gradient(-135deg, #e1eef5 1.5rem, #000 0);
    border-top-left-radius: 4px;
}

.active-image-wrapper .right > p {
    padding-left: 6rem;
    height: 1.8rem;
    background: linear-gradient(160deg, #e1eef5 1.5rem, #000 0);
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
}

.active-image-wrapper .right img {
    max-height: 31.5rem;
    /*margin: .5rem auto;*/
    padding: .5rem auto;
    max-width: 100%;
    overflow: hidden;
}

.active-image-wrapper .hide-control {
    display: inline-block;
    /*margin-top: 14rem;*/
    font-size: 10rem;
    text-align: right;
    cursor: pointer;
}

.active-image-wrapper .ad-image-wrapper {
    width: 30%;
    height: 20rem;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.ad-gallery .ad-image-live {
    float: left;
}

.active-image-wrapper .ad-image-wrapper .ad-loader {
    position: absolute;
    z-index: 10;
    top: 48%;
    left: 48%;
    border: 1px solid #CCC;
}

.active-image-wrapper .ad-image-wrapper .ad-next {
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    height: 100%;
    cursor: pointer;
    display: block;
}

.active-image-wrapper .ad-image-wrapper .ad-prev {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    cursor: pointer;
    display: block;
    z-index: 100;
}

.active-image-wrapper .ad-image-wrapper .ad-prev .ad-prev-image,
.active-image-wrapper .ad-image-wrapper .ad-next .ad-next-image {
    background: url(../img/ad_prev.png);
    width: 30px;
    height: 30px;
    display: none;
    position: absolute;
    top: 47%;
    left: 0;
    z-index: 101;
}

.active-image-wrapper .ad-image-wrapper .ad-next .ad-next-image {
    background: url(../img/ad_next.png);
    width: 30px;
    height: 30px;
    right: 0;
    left: auto;
}

.active-image-wrapper .ad-image-wrapper .ad-image {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 109;
}

.active-image-wrapper .ad-image-wrapper .ad-image a img {
    border: 0;
}

.active-image-wrapper .ad-image-wrapper .ad-image .ad-image-description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 7px;
    text-align: left;
    width: 100%;
    z-index: 2;
    background: url(../img/opa75.png);
    color: #000;
}

* html .active-image-wrapper .ad-image-wrapper .ad-image .ad-image-description {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='opa75.png', sizingMethod=scale);
}

.active-image-wrapper .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {
    display: block;
}

.active-image-wrapper .thumbnail {
    position: relative;
    height: 100%;
    padding: .5rem;
    border: none;
    background-color: #000;
    background: linear-gradient(45deg, #e1eef5 3.5rem, #000 0);
}

.active-image-wrapper .thumbnail > img {
    z-index: 300;
}

.active-image-wrapper .thumbnail p:first-child {
    margin: 1rem auto;
    text-align: left;
    color: #ddd;
}

.active-image-wrapper .thumbnail .caption {
    z-index: 301;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 1rem;
    height: 18rem;
}

.active-image-wrapper .caption p:first-child {
    padding: 3px 8px;
    background: url(../img/opa75.png);
    color: #000;
    border-radius: 4px;
}

#main .show-control {
    display: none;
    position: absolute;
    bottom: -5px;
    padding-left: 2px;
    left: 1rem;
    font-size: 4rem;
    cursor: pointer;
}

#triangle-left {
    width: 0;
    height: 0;
    margin: 5rem auto auto .5rem;
    border-top: 13rem solid transparent;
    border-right: 7rem solid lightgray;
    border-bottom: 13rem solid transparent;
}

#goLive.disabled {
    pointer-events: auto;
}

@media screen and (min-width: 1200px) and (max-width: 1330px) {
    .nav-right a {
        font-size: 14px !important;
    }

    #triangle-left {
        border-right: 5.5rem solid lightgray;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    #triangle-left {
        border-right: 5rem solid lightgray;
    }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
    #triangle-left {
        border-right: 4.5rem solid lightgray;
    }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
    #triangle-left {
        border-right: 4rem solid lightgray;
    }

    .active-image-wrapper .thumbnail .caption {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 644px) and (max-width: 768px) {
    #triangle-left {
        border-right: 6rem solid lightgray;
    }

    .active-image-wrapper .thumbnail .caption {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 644px) {
    #triangle-left {
        border-right: 5rem solid lightgray;
        margin-left: 5px;
    }

    .active-image-wrapper .thumbnail .caption {
        font-size: 1.2rem;
        height: 23rem;
    }

    .active-image-wrapper .btn {
        padding: 3px 6px;
        font-size: 12px;
    }
}

.esriControlsBR {
    display: none !important;
}